@media only screen and (max-device-width : 480px) {

.card{
    width: 100%;
}

.wraith{
    width: 100%;
    left: 0;
}

.cups{
    width: 30%;
    top: 60%;
    left:35%;
}
span.header, span.sign{
    font-size: 84pt;
}

.header{
    top: 20%;
    left: 24%;
}

.sign{
    top: 110%;
    left: 24%;
}
.subscript{
    font-size: 34pt;
    top: 50%;
    left: 34%;
}
}
